@use "./variables.scss" as *;

@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
 
@font-face {
    font-family: Pretendard;
    src: url('/static/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
 
@font-face {
    font-family: JetBrainsMonoNerd;
    src: url('/static/fonts/JetBrainsMonoNerdFontMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: WantedSans;
    src: url('/static/fonts/WantedSans-ExtraBlack.woff2') format('woff2');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: D2CodingNerd;
    src: url('/static/fonts/D2KodingLigatureNerdFont-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: D2CodingNerd;
    src: url('/static/fonts/D2KodingLigatureNerdFont-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: SymbolsNerdFontMono;
    src: url('/static/fonts/SymbolsNerdFontMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}



:root {
    --headerFont: 'WantedSans', 'Pretendard', 'SymbolsNerdFontMono', sans-serif !important;
    --bodyFont: 'Pretendard', 'SymbolsNerdFontMono', sans-serif !important;
    --codeFont: 'JetBrainsMonoNerd', 'D2CodingNerd', 'SymbolsNerdFontMono', monospace !important;
}